body {
  background-color: #fdc4c041 ;
}

header {
  background-color: #ffffff;
  font-family:'Quattrocento Sans', sans-serif, optima;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #242424 ;
}

h3 {
  font-family: 'Quattrocento Sans', sans-serif, optima;
  text-align: center;
  color: #3b3b3b
}

p {
  font-family: 'Quattrocento Sans', sans-serif, optima;
  color: #3b3b3b;
  text-align: justify;
}

ul {
  font-family: 'Quattrocento Sans', sans-serif, optima;
  text-align: center;
  color: #3b3b3b;
}

ol {
  font-family: 'Quattrocento Sans', sans-serif, optima;
  text-align: center;
  color: #3b3b3b;
}

li {
  text-align: left;
  margin-right: 30px;
  color: #3b3b3b;
}

footer {
  font-family: 'Quattrocento Sans', sans-serif, optima;
  text-align: left;
  margin-top: 20px;
  color: #3b3b3b;
}

a {
  link: blue;
  visited: purple;
  hover: lightblue;
  active: violet;
}