@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans|Quattrocento);
@import url(http://fonts.cdnfonts.com/css/segoe-ui-4);
/*included some fonts that I found online, so I imported them from 2 diffrent websites and added them to all the font-family elements*/

body {
  background-color: #f8aea99a ;
  margin-top: 10px;
  margin-bottom: 10%;
  border: 1px solid black;
}
/*body, i wanted a color to match the photo so i went through and found a hex code of something similar, and added a margin to both the top and bottom so that the text feels more centered.*/

header {
  background-color: #939efd;
  background-size: 100%;
  font-family: 'Segoe UI', 'Quattrocento Sans', sans-serif, optima;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #242424 ;
  }
/*for the header, i chose another color from the photo and added padding so again the text feels more centered.  */

h2{
  text-align: center;
}
.title {
  font-size: 36px;
}

article {
  text-align: center;
}
/*Centered the photo using the parent article element.*/

img {
  height: 300px;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  }
/* added a border to the photo to make it stand out */

h3 {
  font-family: 'Segoe UI','Quattrocento Sans', sans-serif, optima;
  text-align: center;
  color: #3b3b3b
}

p {
  font-family: 'Segoe UI', 'Quattrocento Sans', sans-serif, optima;
  color: #3b3b3b;
  text-align: justify;
  margin-left:15%;
  margin-right: 15%;
}

ul {
  font-family: 'Segoe UI', 'Quattrocento Sans', sans-serif, optima;
  text-align: center;
  color: #3b3b3b;
}

ol {
  font-family: 'Segoe UI', 'Quattrocento Sans', sans-serif, optima;
  text-align: center;
  color: #3b3b3b;
}

li {
  text-align: left;
  color: #3b3b3b;
  margin-left:15%;
  margin-right: 15%;
}
/*while the unoredered list and ordered list are centered, I thought it looked nice to have the list items sit normally*/

footer {
  font-family: 'Segoe UI', 'Quattrocento Sans', sans-serif, optima;
  margin-top: 20px;
  color: #3b3b3b;
  text-align: center;
  margin-bottom: 20px;
}


a:link {color: blue;} 
a:visited {color: purple}
a:hover {color: dodgerblue}
a:active {color: green}

/*all the links have a different interaction colors to help distinguish what link is going to be pressed.*/

hr {
  margin-left: 15%;
  margin-right: 15%;
  border-color: black;
  background-color: black;
  color: black
}

a.fImage img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.wrapper {
  width: 800px;
  margin: auto;
}

.end {
  text-align: center;
}
/* centered the footer using a psuedo class item*/
